@import url("https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  font-family: "Itim";
  font-size: 48px;
}

.header > h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
}

.header > p {
  font-size: 24px;
}
