.header {
  text-align: center;
}

.header > h1 {
  font-size: 3rem;
}

.header > p {
  font-size: 2rem;
}

.button {
  display: flex;
  background-color: rebeccapurple;
  gap: 3rem;
  height: 500px;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
