.product-section-wrapper > h1 {
  margin-top: 3rem;
  text-align: center;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  justify-content: center;
}

.product-link {
  text-decoration: none;
}
