.hero-section-wrapper {
  margin-top: 3rem;
  padding: 6px 11px;
  border-radius: 6px;
  background-color: rgb(245, 73, 73);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.left-side {
  justify-content: center;
}

.left-side > h1 {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  font-size: 5rem;
  line-height: 5rem;
}
.left-side > p {
  font-family: "Poppins";
  font-weight: 300;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button-section {
  margin-top: 1rem;

  display: flex;
  gap: 3rem;
}

.btn {
  width: 6rem;
  height: 2.5rem;
  font-family: "poppins";
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-bg {
  border-radius: 4px;
  background-color: rgb(219, 6, 6);
  color: white;
}

.btn-ot {
  border: 3px solid rgb(219, 6, 6);
  border-top-left-radius: 11px;
  border-bottom-right-radius: 11px;
  transition: 300ms all ease-in-out;
}
.btn-ot:hover {
  background-color: rgb(219, 6, 6);
  color: white;
}
.left-side > div:last-child {
  margin-top: 1rem;
  color: white;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1rem;
}
.icon-section {
  margin-top: 0.5rem;
  width: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.category-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
