main {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
.body {
  background-color: beige;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  z-index: -2;
  margin: auto;
}

.grid-wrapper {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
}
