h1 {
  font-size: 2rem;
}
.card {
  border: 1px solid grey;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  max-width: 600px;
}

.card:hover {
  background-color: rgb(245, 38, 217);
  color: white;
  cursor: pointer;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.4);
}

.profile > img {
  width: 100px;
  height: 100px;
}
