.card-wrapper {
  background-color: rgb(157, 109, 205);
  border-radius: 11px;
  padding: 10px;
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
}
.header {
  text-align: center;
  color: rgb(0, 0, 0);
}

.header > h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
}

.header > p {
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 700;
  font-size: 4rem;
}

.button-wrapper {
  margin: 0 auto;
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
